.headerbox
{
	width: 100%;
	height: 64px;
	position: fixed;
	background-color: #8029B6;
	top: 0;
	left: 0;
	box-shadow: 0px 2px 2px 2px #8029B67F;
	padding: 5px;
	overflow: none;
}

.headerbox a
{
	color: white;
	text-decoration: none;
}

.header
{
	width: 380px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.headertext
{
	font-size: 24px;
	margin-top: -44px;
	margin-left: 70px;
	font-weight: bold;
	user-select: none;
	color: white;
	text-shadow: 1px 2.5px #0000003F;
}