.sidebar
{
	float:left;
	width: 250px;
	margin: 100px 0px 0px calc(10% - 50px);
	padding-top: 10px;
	border: 2px solid lightslategray;
	border-radius: 10px;
	position: absolute;
	background-color: var(--primary);
	visibility: hidden;
}

.arrow::after {
    left: 50%;
    transform: rotate(-45deg);
}

.arrow::before {
    left: calc(50% - 1px);
    transform: rotate(45deg);
    height: 6px;
    background: white;
}

.arrow::before,
.arrow::after {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 9px;
    background: currentColor;
    transform-origin: 50% 100%;
}

.arrow.sideways {
    transform: rotate(-90deg);
}

.arrow {
    /* display: inline-block; */
    vertical-align: middle;
    position: relative;
    width: 11px;
    height: 11px;
    transition: transform .2s;
	float: right;
	margin-right: 1rem;
	margin-top: 5px;
}

.sidebar[collapsed="true"] .arrow {
	transform: scaleY(-1);
}

.sidebar[collapsed="true"] .selectables #itemList {
	display: none;
}

.selectable-link
{
	color: inherit;
	text-decoration: none;
	font: inherit;
}

.selectables
{
	max-height: max(calc(100vh - 240px), 150px);
	overflow-y: auto;
	margin: 10px 0px 0px 0px;
	border-radius: 6px;
	scrollbar-color: lightslategray var(--primary);
}

input[type='text']
{
	font-size: 16px;
	margin-left: 10px;
	width: 176px;
	border: 0;
	outline: 0;
}
input[type='text']:focus
{
	border: 0;
	outline: 0;
}

ul[class="searchbar-child"]
{
	list-style: none;
	margin: 0;
	padding: 0;
}
li[class="searchbar-child"]
{
	padding: 8px 10px;
	background-color: var(--primary);
	border-top: 1px solid lightslategray;
}
li[class="searchbar-child"]:hover
{
	background-color: cornflowerblue;
	color: white;
}

@media (max-width: 910px) {
	.sidebar {
		position:static;
		width: 100%;
		margin: 0;
		margin-top: 5rem;
		float: none;
	}

	.selectables {
		max-height: 200px;
	}
}